html {
  position: relative;
  padding-bottom: 170px;
  min-height: 100%;
}

body {
  background-color: rgb(202, 202, 202);
  height: 100%;
}

.footer {
  margin-top: 4rem;
  padding: 0.1rem;
  background-color: rgb(65, 64, 62);
  bottom: 0;
  left: 0;
  width: 100%;
  position: absolute;
  overflow: hidden;
}